@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

$primary-color: #333;

body {
  font-family: "Bree Serif", serif;
  background: url(../assets/bg.jpg);
  background-size: cover;
  #div-title {
    background: url(../assets/logopoker.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 40%;
    margin-top: 5%;
    width: 400px;
    height: 500px;
  }
  #container-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: orange;
    left: 50%;
    #div-rules {
      background: url(../assets/panel.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 600px;
      height: 870px;
    }
    #div-table {
      background: green;
      display: inline-block;
      border-radius: 500px;
      border: 70px solid brown;
      margin-top: 5%;
      width: 1300px;
      height: 600px;
    }
  }
}

// Pantallas pequeñas
@media (max-width: 1720px) {
  body {
    #div-rules {
      background: blue;
      width: 500px;
      height: 400px;
    }
  }
}

// Móviles
@media (max-width: 600px) {
  body {
    background-attachment: fixed;
    #div-title {
      margin-top: 20%;
      margin-left: 33%;
      width: 200px;
      height: 100px;
    }
    #div-rules {
      background: blue;
      width: 300px;
      height: 600px;
    }
  }
}
